<!DOCTYPE html>
<html lang="fr">

</html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Api SkillSwap</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 20px;
      background-color: #f4f4f9;
      color: #333;
    }

    h1 {
      color: #0056b3;
    }

    a {
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    a:hover {
      color: #0056b3;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      list-style-type: disc;
    }

    ul li {
      margin-bottom: 10px;
    }

    a:hover {
      text-decoration: underline;
    }

    ul {
      list-style-type: square;
      padding-left: 20px;
    }
  </style>
</head>

<body>
  <h1>Api SkillSwap</h1>
  <p>Bienvenue sur l'API SkillSwap !</p>
  <p>
    Cette API vous permet d'accéder à diverses fonctionalités telles que créer des annonces, envoyer des messages à des
    utilisateurs, proposer des échanges de compétences et bien plus encore.
  </p>
  <p>Voici quelques-unes des fonctionnalités principales :</p>
  <ul>
    <li><a href="/skills">Lister toutes les compétences</a></li>
    <li><a href="/users/1">Lister un utilisateur</a></li>
    <li><a href="/users">Lister tous les utilisateurs</a></li>
    <li><a href="/posts">Lister tous les posts</a></li>
  </ul>
  <p>
    Pour plus d'informations, veuillez consulter la
    <a href="/docs">documentation de l'API.</a>
  </p>
</body>

</html>