<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Api SkillSwap</title>
  </head>
  <body>
    <h1>Api SkillSwap</h1>
    <p>Welcome to the SkillSwap API!</p>
    <p>
      This API allows you to manage your skills and find others to swap with.
    </p>
    <p>Here are some of the main features:</p>
    <ul>
      <li><a href="/api/skills">List all skills</a></li>
      <li><a href="/api/users/1">List one user</a></li>
      <li><a href="/api/users">List all users</a></li>
      <li><a href="/api/posts">List all posts</a></li>
    </ul>
    <p>
      For more information, please refer to the
      <a href="/api-docs">API documentation.</a>
    </p>
  </body>
</html>
